body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #757575;
  background-color: #ffffff;
  letter-spacing: 0.03em;
}

body.modal-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

button {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

textarea {
  resize: none;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  padding: 16px 0;
  border-bottom: #ececec 1px solid;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
    min-height: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 25px 0;
  }
}

@media screen and (min-width: 768px) {
  .header__logo-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo-mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu__button:hover, .menu__button:focus {
  fill: #2196f3;
}

.menu__button .menu__open {
  display: none;
}

.menu__button.is-open .menu__open {
  display: block;
}

.menu__button.is-open .menu__close {
  display: none;
}

@media screen and (max-width: 767px) {
  .menu__button {
    z-index: 2;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.header-mobile {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  overflow-y: scroll;
  -webkit-transform: translate(100%);
          transform: translate(100%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile.is-open {
  -webkit-transform: translate(0);
          transform: translate(0);
}

@media screen and (min-width: 768px) {
  .header-mobile {
    height: 100%;
    z-index: inherit;
    position: inherit;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0;
    overflow-y: inherit;
    -webkit-transform: translate(0);
            transform: translate(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .header-mobile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav__header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
  text-decoration: none;
  color: #2196f3;
}

.nav__header-logo-half {
  color: #212121;
}

@media screen and (min-width: 768px) {
  .nav__header-logo {
    margin-right: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .nav__header-logo {
    margin-right: 93px;
  }
}

.nav__menu {
  list-style: none;
  margin-bottom: 100px;
}

.nav__item {
  margin-bottom: 32px;
}

.nav__item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__item {
    margin-bottom: 0;
    position: relative;
  }
}

.nav__link {
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current:focus, .nav__link--current:hover {
  color: #188ce8;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .nav__link {
    display: block;
    font-size: 14px;
  }
  .nav__link--current::after {
    content: "";
    position: absolute;
    top: calc(100% + 29px);
    left: 0px;
    width: 100%;
    display: block;
    height: 4px;
    border-radius: 2px;
    background-size: contain;
    background-color: #2196f3;
  }
  .nav__link--current:hover::after {
    -webkit-transform: skaleX(1);
            transform: skaleX(1);
  }
  .nav__link--current, .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
}

@media screen and (min-width: 1200px) {
  .nav__link--current::after {
    top: calc(100% + 29px);
  }
}

.address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  list-style: none;
}

.address__item {
  margin-bottom: 32px;
}

.address__item:first-child {
  margin-bottom: 64px;
}

.address__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--mobile {
  font-size: 24px;
}

.address__icon {
  display: none;
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .address {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .address__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
  }
  .address__item {
    margin-bottom: 0;
  }
  .address__item:first-child {
    margin-bottom: 10px;
  }
  .address__icon {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
  .address__icon:hover, .address__icon:focus {
    fill: currentColor;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .address {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .address__link {
    font-size: 14px;
  }
  .address__item + .address__item {
    margin-left: 30px;
  }
  .address__item:first-child {
    margin-bottom: 0;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2222;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.social__line {
  margin: 0 5px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

@media screen and (min-width: 768px) {
  .social {
    display: none;
  }
}

.hero-overlay {
  padding: 120px 0px;
  text-align: center;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/decoration/hero-bg-mobile-480.jpg");
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decoration/hero-bg-mobile-480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/decoration/hero-bg-mobile-960.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decoration/hero-bg-mobile-960.jpg");
  }
}

@media screen and (min-width: 480px) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/decoration/hero-bg-tablet-768.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decoration/hero-bg-tablet-768.jpg");
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/decoration/hero-bg-tablet-1536.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decoration/hero-bg-tablet-1536.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/decoration/hero-bg-desktop-1600.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decoration/hero-bg-desktop-1600.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/decoration/hero-bg-desktop-3200.jpg");
    background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/decoration/hero-bg-desktop-3200.jpg");
  }
}

@media screen and (min-width: 1600px) {
  .hero-overlay {
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-size: cover;
  }
}

.hero-overlay__title {
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 26px;
  line-height: 1.61;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .hero-overlay__title {
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-overlay {
    padding: 200px 0;
    height: 600px;
  }
  .hero-overlay__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.button {
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #188ce8;
}

.features {
  padding: 60px 0;
}

.features__list {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  list-style: none;
}

.features__item + .features__item {
  margin-top: 30px;
}

.features__icon {
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.features__title {
  text-align: center;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.71;
  text-transform: uppercase;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .features__item + .features__item {
    margin-top: 0px;
  }
  .features__item {
    margin-bottom: 30px;
    width: 354px;
  }
  .features__item:nth-child(2n) {
    margin-left: 30px;
  }
  .features__item:nth-child(3n), .features__item:nth-child(4n) {
    margin-bottom: 0;
  }
  .features__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    padding: 94px 0;
  }
  .features__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .features__item {
    margin-bottom: 0;
    width: 270px;
  }
  .features__item + .features__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 1199px) {
  .our-work {
    display: none;
  }
}

.our-work {
  padding-bottom: 94px;
}

.our-work__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.our-work__gallery {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.our-work__item + .our-work__item {
  margin-left: 30px;
}

.our-work__label {
  position: absolute;
  bottom: 0;
  width: 370px;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}

.team {
  padding: 60px 0;
  background-color: #f5f4fa;
}

.team__thumb {
  max-height: 460px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__thumb {
    max-height: 374px;
  }
}

@media screen and (min-width: 1200px) {
  .team__thumb {
    height: 260px;
  }
}

.team__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  color: #212121;
}

.team__list {
  text-align: center;
  font-size: 16px;
  line-height: 1.17;
  list-style: none;
}

.team__discription {
  padding-bottom: 24px;
}

.team__name {
  padding-top: 30px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 16px;
  line-height: 1.17;
  font-weight: 500;
}

.team__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  list-style: none;
}

.team__item + .team__item {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .team__title {
    margin-bottom: 50px;
  }
}

.team__card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team__card:last-child {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) {
  .team__card {
    margin-right: 30px;
    width: 354px;
  }
  .team__card:nth-child(2n) {
    margin-right: 0;
  }
  .team__card:nth-child(3n) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .team__card {
    margin-bottom: 0;
    width: 270px;
  }
  .team__card:nth-child(2n) {
    margin-right: 30px;
  }
  .team__card:last-child {
    margin-right: 0;
  }
}

.team__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover, .team__link:focus {
  background-color: #2196f3;
}

.team__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover .team__icon,
.team__link:focus .team__icon {
  fill: #ffffff;
}

.clients {
  padding: 60px 0;
}

.clients__title {
  text-align: center;
  font-size: 28px;
  line-height: 1.17;
  font-weight: 700;
  color: #212121;
  margin-bottom: 50px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.clients__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
      flex-basis: calc((100% - 2 * 30px) / 2);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  margin-right: 15px;
}

.clients__item:nth-child(2n) {
  margin-right: 0;
}

.clients__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

.clients__image {
  fill: #afb1b8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
  .clients__item:nth-child(2n) {
    margin-right: 15px;
  }
  .clients__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .clients__item:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
    margin-bottom: 0px;
  }
  .clients__item:nth-child(2n) {
    margin-right: 0;
  }
  .clients__item + .clients__item {
    margin-left: 30px;
  }
}

.clients__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__image,
.clients__link:focus .clients__image {
  fill: #2196f3;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__position {
  text-align: center;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  font-style: normal;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.17;
}

.footer__logo-half {
  color: #ffffff;
}

.footer__location {
  margin-bottom: 8px;
  color: #ffffff;
}

.footer__location, .footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}

.footer__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .footer__address {
  list-style: none;
}

.footer .footer__address .footer__link:hover,
.footer .footer__address .footer__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .footer__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__display {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__position {
    text-align: left;
  }
  .footer__position--address {
    margin-right: 70px;
  }
  .footer__position--social {
    margin-right: 93px;
  }
}

.join {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.join__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.join__item + .join__item {
  margin-left: 10px;
}

.join__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__link:hover, .join__link:focus {
  background-color: #2196f3;
}

.join__icon {
  fill: #ffffff;
}

@media screen and (min-width: 768px) {
  .join {
    margin-top: 0;
  }
}

.subscribe-form__title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-form__input {
  width: 100%;
  padding: 15px 16px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-form__:focus {
  border: 1px solid #2196f3;
}

.subscribe-form__icon {
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__title {
    margin-top: 0;
  }
  .subscribe-form__input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
  .subscribe-form__display {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.button--subscribe-form {
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 0 auto;
}

.button--subscribe-form:hover, .button--subscribe-form:focus {
  background-color: #188ce8;
}

.backdrop {
  z-index: 3;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 92px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (min-width: 510px) {
  .backdrop {
    padding: 0;
  }
}

.modal {
  width: 100%;
  max-width: 480px;
  opacity: 1;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 510px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 530px;
  }
}

.modal__close-button {
  position: absolute;
  top: 100px;
  right: 23px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-button:hover .modal__close-button-icon {
  fill: #2196f3;
}

@media screen and (min-width: 510px) {
  .modal__close-button {
    top: 8px;
    right: 8px;
  }
}

.callback-form {
  width: 100%;
  padding: 40px;
}

.callback-form__title {
  margin-bottom: 12px;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.callback-form__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  margin-bottom: 10px;
}

.callback-form__item:last-child {
  margin-bottom: 20px;
}

.callback-form__label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.callback-form__input {
  padding: 12px 40px;
}

.callback-form__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback-form__input:focus + .callback-form__icon {
  fill: #2196f3;
}

.callback-form__comment {
  padding: 12px 16px;
  height: 120px;
}

.callback-form__input, .callback-form__comment {
  margin: 0;
  border-radius: 4px;
  color: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}

.callback-form__input::-webkit-input-placeholder, .callback-form__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input:-ms-input-placeholder, .callback-form__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input::-ms-input-placeholder, .callback-form__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input::placeholder, .callback-form__comment::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.callback-form__input:focus, .callback-form__comment:focus {
  border: 1px solid #2196f3;
}

.callback-form__check-mark {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.callback-form__agreement {
  color: #2196f3;
}

.callback-form__button {
  text-align: center;
}

.callback-form__checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.callback-form__checkbox--custom {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.callback-form__checkbox--custom:checked + .callback-form__check-mark {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url("../images/checkbox-on.svg");
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
}

.button--callback-form {
  padding: 10px 55px;
}

.button--callback-form:hover, .button--callback-form:focus {
  background-color: #188ce8;
}
/*# sourceMappingURL=main.css.map */