// Hero section styles

.hero-overlay {
  padding: 120px 0px;
  text-align: center;
  background-color: $background-color;
  background-image: linear-gradient(
      to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;

  &__title {
    margin-bottom: 30px;
    color: $secondary-text-color;
    font-size: 26px;
    line-height: 1.61;
    font-weight: 900;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}

.button {
  @include button($size: 10px 32px, $font-weight: 700);

  &:hover,
  &:focus {
    background-color: $button-focus-background-color;
  }
}
